<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>All Users</title>
    </head>
    <body>
        <form action='/register' method='post'>
            <input type='text', name='first_name' placeholder='Enter your first name'><br>
            <input type='text', name='last_name' placeholder='Enter your last name'><br>
            <input type='text', name='email' placeholder='Enter your email'><br>
            <input type='text', name='password' placeholder='Enter a password'><br>
            <input type='text', name='c_password' placeholder='Confirm password'><br>
            <input type='submit', value='Click here to register'>
        </form>
    </body>
</html>